<div class="view">
  <div class="container">
    <div class="welcome">
      <div class="welcome-text">
        <h1 class="welcome-title roboto">
          <span class="wave">👋</span>Welcome to...
        </h1>
        <div class="welcome-content fira">
          <p>
            <span class="first">~~></span>
            Maximilian Keller
            <span class="second"> <=||</span>
          </p>
        </div>
      </div>
      <img src="/assets/img/pink-shy-guy.png" alt="" />
    </div>

    <div class="next fira">
      <p>->></p>
    </div>
  </div>
</div>
