@import "styles/animation";

.view {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container {
  width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome {
  color: var(--text-color);
  height: 800px;
  width: 100%;
  font-size: 1.5rem;

  display: flex;
  flex-direction: row;

  img {
    border-radius: 100%;
    height: 50%;
    aspect-ratio: 1;
    display: block;
    margin: 0px 50px 125px 50px;
    align-self: center;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 75%;

    .welcome-title {
      display: flex;
      align-items: center;

      .wave {
        padding: 10px 20px 20px 20px;
        transform: rotate(100deg);
        animation: wave 3s ease-in-out infinite;
        font-size: 3.5rem;
      }
    }

    .welcome-content {
      display: flex;

      width: 100%;
      p {
        width: 100%;
        font-size: 300%;
        text-align: center;
        margin: 0;

        .first {
          color: var(--first-color);
        }
        .second {
          color: var(--second-color);
        }
      }
    }
  }
}

.next {
  color: var(--third-color);
  display: flex;
  justify-content: center;

  p {
    font-size: 3rem;
    margin: 0;
    text-align: end;
    transform: rotate(90deg);
    animation: next-bounce 1.5s infinite;
  }
}
